/* ===============================
  Global styles / Глобальні стилі
================================= */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* Container for layout / Контейнер для сітки */
.container {
  max-width: 1158px;
  margin: 0 auto;
}

/* ===============================
  Header styles / Стилі хедера
================================= */

.page-header {
  justify-content: space-between;
}

/* Logo / Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

/* Navigation / Навігація */
.nav-link {
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Contacts / Контакти */
.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ===============================
  Hero section / Герой-секція
================================= */

.hero-section {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ===============================
  Advantages section / Секція переваг
================================= */

.advantages {
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===============================
  Team section / Секція "Наша команда"
================================= */

.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-position {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===============================
  Portfolio section / Секція портфоліо
================================= */

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===============================
  Footer / Підвал сайту
================================= */

.footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}